<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新規登録画面</title>
</head>
<body>
    <h1>新規会員登録画面</h1>
    <form>
    <table><tbody>
        <tr>
            <th>名前</th>
            <td><input type="text"></td>
        </tr>
        <tr>
            <th>ユーザID</th>
            <td><input type="text"></td>
        </tr>
        <tr>
            <th>パスワード</th>
            <td><input type="text"></td>
        </tr>
        <tr>
            <th>星座</th>
            <td>
            <select>
                <option>        </option>
                <option>牡羊座</option>
                <option>牡牛座</option>
                <option>双子座</option>
                <option>蟹座</option>
                <option>獅子座</option>
                <option>乙女座</option>
                <option>天秤座</option>
                <option>蠍座</option>
                <option>山羊座</option>
                <option>水瓶座</option>
                <option>魚座</option>
            </select>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <input type="submit" value="登 録">
    </form>
</body>
</html>