<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>入力結果</title>
</head>
<body>
    <h1>登録結果画面</h1>
    <table><tbody>
        <tr>
            <th>名前</th>
            <td>{{ username }}</td>
        </tr>
        <tr>
            <th>ユーザID</th>
            <td>{{ userid }}</td>
        </tr>
        <tr>
            <th>パスワード</th>
            <td>{{ userpass }}</td>
        </tr>
        <tr>
            <th>星座</th>
            <td>{{ usertype }}</td>
        </tr>
        </tbody>
    </table>
</body>
</html>